@model IEnumerable<Dose.Models.PatientMedication>

@{
    ViewData["Title"] = "ManageMeds";
}

<h1>Manage Medication for Patient</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medication.MedicationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medication.MedicationName)
            </td>
            <td>
                @Html.ActionLink("Edit Medication", "EditMedication", new { id=item.Id }) |
                @Html.ActionLink("Medication Details", "MedicationDetails", new { id=item.Id }) |
                @Html.ActionLink("Delete Medication", "DeleteMedication", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
